[submodule "themes/blue-penguin"]
	path = themes/blue-penguin
	url = git@github.com:iranzo/blue-penguin.git
[submodule "themes/pelican-blueidea"]
	path = themes/pelican-blueidea
	url = https://github.com/nasskach/pelican-blueidea.git
